# jupyter markdown
## jupyter markdown
### jupyter markdown
#### jupyter markdown
##### jupyter markdown
###### jupyter markdown

### jupyter markdown
- point 1
- point 2
- point 3

### programming
- point 1
   - point 1.1
   - point 1.2
   - point 1.3
- point 2
- point 3

### python intoduction
- python 3
- python can be used as functional programming.
- python can be used as scripting programming.
- python intially designed by **guido van rosum** in 1991.

In [1]:
# input and output function
# output function
print("hello world")
print("welcome to python programming")

hello world
welcome to python programming

In [3]:
print("markdown cell",end = " ")
print("code cell")

markdown cell code cell

In [4]:
# input function
print("enter your name: ")
a = input(' ')
print('your name is',a)

enter your name:
 harika
your name is harika

## variables are also called identifiers
## var name always starts with alphabets
### starts with any special char except _
### does not start with digits

In [5]:
x = 10
type(x)

int

In [6]:
y = 12
x+y

22

## fundamental datatypes:
### int
### float
### complex
### boolean
### string

In [8]:
x = 10
y = 10.9
print(x+y)
type(y)

20.9

float

In [9]:
c = 2+2j
type(c)

complex

In [10]:
c=2+2j
d=3+3j
c+d

(5+5j)

In [15]:
# typecasting
a=12.56
print(int(a))
complex(a)

12
(12.56+0j)

In [14]:
complex(3,4)

(3+4j)

In [16]:
# boolean datatype
## True
## False

In [18]:
a=True
type(a)

bool

In [19]:
b=False
type(b)

bool

In [22]:
# string
a="python"
b="p"
print(type(a))
print(type(b))

<class 'str'>
<class 'str'>

In [25]:
a="100"
print(type(a))
b=int(a)
print(type(b))
c=float(a)
type(c)

<class 'str'>
<class 'int'>

float

In [27]:
a='1234'
len(a)

4

In [28]:
a=1234
len(str(a))

4

## operators:
### arithmetic operators:
### +,-,*,/,%,//,**

In [29]:
123/5

24.6

In [30]:
123//5

24

In [32]:
a=3
b=2
print(a+b)
print(a-b)
print(a/b)
print(a%b)
print(a//b)
print(a*b)
print(a**b)

5
1
1.5
1
1
6
9

## logical operators:
### and,or,not

In [35]:
x=12
y=5
print(x >=20 and y <= 3)
print(x >=20 or y >= 2)

False
True

## relational operators:
### <,>,<=,>=,==,!=

# x=2
y=5
print(x>y)
print(x<y)
print(x>=y)
print(x<=y)
print(x==y)
print(x!=y)

##  Membership operator:
### in,not in

In [42]:
a="python"
print('p' in a)
print('w' not in a)
print('P' in a)
print ('p' not in a)
#  python is a case sensitive language so upper and lower cases of letters should be noted.

True
True
False
False

## conditional statements:
### if(single condition)
### if else(two conditions)
### elif(multiple conditions)

# syntax:

if condition:
    this one tab space is called indentation
    * statements

In [44]:
# to check the given number is even or odd
input("enter a number")

enter a number12

'12'

In [45]:
type(a)

str

In [47]:
a=int(input("enter a number"))
if a%2==0:
    print("even")
type(a)

enter a number12
even

int

In [48]:
# if-else:
a=int(input("enter a number"))
if a%2==0:
    print("even")
else:
    print("odd")

enter a number3
odd

In [50]:
# to check whether the number is divisible with 3 and 5(perfect multiple)
n=int(input("enter a number"))
if n%3==0 and n%5==0:
    print("yes")
else:
    print("no")

enter a number15
yes

In [51]:
# to check the number is positive or negative or zero
n=int(input(""))
if n>0:
    print("positive number")
elif n<0:
    print("negative number")
else:
    print("zero")

5
positive number

In [ ]:
#to check for leap year
year %400==0
year %4==0
year %100 !=0

In [53]:
year = int(input(""))
if (year%4==0 and year%400==0 and year%100!=0):
    print("leap year")
else:
    print("not a leap year")

2014
not a leap year

## looping statements:
### while,for

#syntax
- while condition:
    - statements

In [54]:
# print numbers from 1 to N
n=int(input(""))
i=1
while i<=n:
    print (i)
    i+=1

19
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19